<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>

    <link rel="icon" href="https://fav.farm/⚙️" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/global.css">
</head>

<body>

    {% include 'partials/_nav.html' %}


    <div class="main-content" id="main-content">
        <h1 id="header">404 Not Found</h1>
        <p>The page you are looking for does not exist.</p>

    </div>

    <script src="/static/global.js"></script>


</body>

</html>