<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard Practice</title>
    <link rel="icon" href="https://fav.farm/⚙️" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/global.css">
    <link rel="stylesheet" href="static/dashboard.css">

</head>

<body>

    {% include 'partials/_nav.html' %}


    <div class="main-content" id="main-content">
        <div class="add-course-card" id="addCourseButton">
            <div class="add-course-icon">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h14m-7 7V5" />
                </svg>
                <div class="add-course-text">Add Course</div>
            </div>
        </div>



        <div class="courses-container" id="coursesContainer">

        </div>


    </div>

    <div class="modal" id="courseModal" style="display: none;">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Add a Course</h2>
            <form id="addCourseForm">
                <label for="availableCourses">Available Courses:</label>
                <select id="availableCourses">
                    <option value="apush">AP U.S. History</option>
                    <option value="apcalc">AP Calculus BC</option>
                    <option value="apphysicsc_mechanics">AP Physics C: Mechanics</option>
                    <option value="apphysicsc_electricity">AP Physics C: Electricity and Magnetism</option>
                </select>
                <button type="submit" class="submit-button">Add Course</button>
            </form>
        </div>
    </div>


    <script src="/static/global.js"></script>
    <script src="/static/dashboard.js"></script>

    <script>


    </script>



</body>

</html>