<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcard Practice</title>
    <link rel="icon" href="https://fav.farm/⚙️" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/global.css">
    <style>
        .logo {
            height: 150px;
            margin: 0;
            padding: 0;
            display: block;
            max-width: 100%;
        }
    </style>
</head>

<body>

    {% include 'partials/_nav.html' %}


    <div class="main-content" id="main-content">
        <h1>Practice Section</h1>
        <p>This is where the practice games or activities will be added.</p>
    </div>

    <script src="/static/global.js"></script>

    <script>
    </script>
</body>

</html>