<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards View</title>
    <link rel="stylesheet" href="/static/global.css">
    <link rel="stylesheet" href="/static/cards.css">

    <style>
        h1 {
            margin-bottom: 100px;
        }

        .flashcard-container {
            margin-top: 30px;
        }

        .back-to-history-btn {
            background-color: #031738;
            color: #e6e5e7;
            border: none;
            padding: 0.8em 1.5em;
            border-radius: 8px;
            font-family: "Montserrat", sans-serif;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            margin-top: 20px;
        }

        .back-to-history-btn:hover {
            background-color: #7FC29B;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>

<body>
    {% include 'partials/_nav.html' %}
    <div class="main-content" id="main-content">
        <h1>{{flashcard_source.title}}</h1>

        <div class="flashcard-container">
            <button id="previousCard" class="previous-card" style="display: none;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
                </svg>
            </button>
            <div id="completion"></div>
            <button id="nextCard" class="next-card" style="display: none;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z" />
                </svg>
            </button>
        </div>

        <div class="card-index"></div>

        <button onclick="window.location.href='/history'" class="back-to-history-btn">Back to History</button>
    </div>
    <script>
        const completionEl = document.getElementById("completion");
        const prevButton = document.getElementById("previousCard");
        const nextButton = document.getElementById("nextCard");
        let activeCardIndex = 0;

        // Use the flashcards data passed from Flask
        const data = {{ flashcard_set | safe}};

        function renderFlashcards() {
            if (data.length === 0) {
                prevButton.style.display = "none";
                nextButton.style.display = "none";
            } else {
                prevButton.style.display = "inline-block";
                nextButton.style.display = "inline-block";

                data.forEach((item, i) => {
                    completionEl.innerHTML += `
                    <div class="flashcard ${i === activeCardIndex ? "active-card" : ""}">
                        <div class="flashcard-inner">
                            <div class="flashcard-front">
                                <div class="flashcard-content">${item.question}</div>
                            </div>
                            <div class="flashcard-back">
                                <div class="flashcard-content">${item.answer}</div>
                            </div>
                        </div>
                    </div>`;
                });
            }

            const cards = document.querySelectorAll('.flashcard');

            cards.forEach((card, i) => {
                card.addEventListener('click', () => {
                    card.classList.toggle('flip');
                });
            });
        }

        const cardIndexEl = document.querySelector(".card-index");

        function updateCardIndex() {
            cardIndexEl.textContent = `${activeCardIndex + 1}/${cards.length}`;
        }

        renderFlashcards();
        const cards = document.querySelectorAll('.flashcard');
        updateCardIndex();

        document.querySelector(".next-card").addEventListener("click", () => {
            const currentCard = cards[activeCardIndex];
            currentCard.classList.remove("active-card");
            activeCardIndex++;
            if (activeCardIndex >= cards.length) {
                activeCardIndex = 0;
            }
            updateCardIndex();
            cards[activeCardIndex].classList.add("active-card");
        });

        document.querySelector(".previous-card").addEventListener("click", () => {
            const currentCard = cards[activeCardIndex];
            currentCard.classList.remove("active-card");
            activeCardIndex--;
            if (activeCardIndex < 0) {
                activeCardIndex = cards.length - 1;
            }
            updateCardIndex();
            cards[activeCardIndex].classList.add("active-card");
        });

    </script>

</body>


</html>